<html>
<head>
    <title>{% block title %}{% endblock %} - Haunt</title>
    {% block head %}
    <meta charset="utf-8">
    <meta author="Aaron">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/changeMe.css') }}"> -->
    <!-- <script src="{{ url_for('static', filename='js/changeMe.js') }}"></script> -->
    {% endblock %}
</head>

<body class="">
    <div>
    {% block body %}

    {% endblock %}
</div>
</body>
</html>